
<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title> Detech UI</title>
</head>
<body>

<div id="app">
    <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe" style="display: none"></iframe>
    <v-app>
        <v-toolbar dark class="primary">
            <v-toolbar-title class="white--text">DETECH ALGORITHM</v-toolbar-title>
        </v-toolbar>
        <v-progress-linear v-bind:indeterminate="true" v-bind:active="show" class="ma-0 pa-0"></v-progress-linear>

        <main>
            <v-container>
                <v-layout row wrap>
                    <v-flex xs5 text-xs-center>
                        <h4> Unregistered Images</h4>

                        <div id="img-container"></div>
                    </v-flex>

                    <v-flex xs2 text-xs-center>
                        <v-btn fab dark class="red darken-1" id="regBtn" @click="registerImages()">
                            <v-icon>keyboard_arrow_right</v-icon>
                        </v-btn>

                        <v-form method=post enctype=multipart/form-data action="/upload-folder" target="dummyframe">
                            <v-btn dark class="btn--dark-flat-focused jbtn-file">
                                Select files
                                <input type="file" name="file" size="40" webkitdirectory mozdirectory msdirectory odirectory directory multiple>
                            </v-btn>
                            <v-btn type=submit>Upload</v-btn>
                        </v-form>
                        <v-btn id="showBtn" @click="getUploadedImages()"> Show images</v-btn>
                        <v-btn @click="deleteImages()">Delete images</v-btn>
                        <v-dialog v-model="dialog" persistent width="400px">
                            <v-btn primary dark slot="activator">CROPPING</v-btn>
                            <v-card>
                                <v-card-title class="headline">Select the crop rectangle</v-card-title>
                                <v-card-text>
                                    <v-btn @click="initCanvas()">Get mean registered image</v-btn>
                                    <!--<img id="meanImg">-->
                                    <canvas id="canvas" width="300" height="300"></canvas>
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn class="green--text darken-1" flat="flat" @click.native="dialog = false">Disagree</v-btn>
                                    <v-btn class="green--text darken-1" flat="flat" @click.native="dialog = false">Agree</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-flex>

                    <v-flex xs5 text-xs-center>
                        <h4> Registered Images</h4>
                        <div id="img-reg-container"></div>
                    </v-flex>
                </v-layout>
                <v-layout>

                </v-layout>


            </v-container>
        </main>
    </v-app>
</div>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            show: false,
            images_paths: [],
            dialog: false,
            crop_data: []

        },
        methods: {
            getUploadedImages: function () {
                vm = this;
                $.ajax('api/i/names').done(function (data) {
                    vm.images_paths = data;
                    $("#img-container").empty();
                    for (var i=0;i<vm.images_paths.length;i++) {
                        var image = new Image();
                        image.src = 'api/i/'+vm.images_paths[i];
                        $("#img-container").append(image);

                    }
                });
                this.showRegisteredImages()
            },

            registerImages: function () {
                var vm = this;
                vm.show = true;
                $.ajax('api/i/registration').done(function (data) {
                    vm.show = false;
                })
            },

            showRegisteredImages: function () {
                $("#img-reg-container").empty();
                for (var i=0;i<vm.images_paths.length;i++) {
                    var image = new Image();
                    image.src = 'api/i/reg/'+vm.images_paths[i];
                    $("#img-reg-container").append(image);

                }
            },

            deleteImages : function () {
                var vm = this;
                vm.show = true;
                $.ajax('api/i/delete_all').done(function (data) {
                    vm.show = false;
                })
            },

            generateMeanImage : function () {
                var vm = this;
                vm.show = true;
                $.ajax('api/i/mean').done(function (data) {
                    vm.show = false;
                    var nameOfImage = data["image"];
                    var d = new Date();
                    $("#meanImg").css({'width':'100%','height': 'auto;'});
                    $("#meanImg").attr("src", "api/i/reg/" + nameOfImage + "?" +d.getTime());
                })
            },

            initCanvas : function () {
                var vm = this;
                var canvas = document.getElementById('canvas'),
                    ctx = canvas.getContext('2d');
                var base_image = null;
                make_base();

                // style the context
                ctx.strokeStyle = "red";
                ctx.lineWidth=2;

                // calculate where the canvas is on the window
                // (used to help calculate mouseX/mouseY)
                var $canvas=$("#canvas");
                var canvasOffset=$canvas.offset();
                var offsetX=canvasOffset.left;
                var offsetY=canvasOffset.top;
                var scrollX=$canvas.scrollLeft();
                var scrollY=$canvas.scrollTop();

                // this flage is true when the user is dragging the mouse
                var isDown=false;

                // these vars will hold the starting mouse position
                var startX;
                var startY;


                function handleMouseDown(e){
                    e.preventDefault();
                    e.stopPropagation();

                    // save the starting x/y of the rectangle
                    startX=parseInt(e.clientX-offsetX);
                    startY=parseInt(e.clientY-offsetY);

                    // set a flag indicating the drag has begun
                    isDown=true;
                }

                function handleMouseUp(e){
                    e.preventDefault();
                    e.stopPropagation();

                    // the drag is over, clear the dragging flag
                    isDown=false;
                }

                function handleMouseOut(e){
                    e.preventDefault();
                    e.stopPropagation();

                    // the drag is over, clear the dragging flag
                    isDown=false;
                }

                function handleMouseMove(e){
                    e.preventDefault();
                    e.stopPropagation();

                    // if we're not dragging, just return
                    if(!isDown){return;}

                    // get the current mouse position
                    mouseX=parseInt(e.clientX-offsetX);
                    mouseY=parseInt(e.clientY-offsetY);

                    // Put your mousemove stuff here

                    // clear the canvas
                    ctx.clearRect(0,0,canvas.width,canvas.height);
                    var K = 4;
                    ctx.drawImage(base_image, 10, 10, 80*K, 60*K);
                    // calculate the rectangle width/height based
                    // on starting vs current mouse position
                    var width=mouseX-startX;
                    var height=mouseY-startY;

                    // draw a new rect from the start position
                    // to the current mouse position
                    ctx.strokeRect(startX,startY,width,height);

                    console.log(startX,startY,width,height);
                    vm.crop_data = [startX, startY, startX + width, startY+height]
                }

                // listen for mouse events
                $("#canvas").mousedown(function(e){handleMouseDown(e);});
                $("#canvas").mousemove(function(e){handleMouseMove(e);});
                $("#canvas").mouseup(function(e){handleMouseUp(e);});
                $("#canvas").mouseout(function(e){handleMouseOut(e);});

                function make_base() {

                    vm.show = true;
                    $.ajax('api/i/mean').done(function (data) {
                        vm.show = false;
                        var nameOfImage = data["image"];
                        base_image = new Image();
                        base_image.src = "api/i/reg/" + nameOfImage;
                        base_image.style = "width:100%; height: auto;";
                        base_image.onload = function(){
                            var K = 4;
                            ctx.drawImage(base_image, 10, 10, 80*K, 60*K);
                        }
                    })
                }
            }


        }
    })
</script>
<style>
    .jbtn-file {
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .jbtn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        cursor: inherit;
        display: block;
    }
    #canvas {
        border: 10px solid transparent;
    }
    .rectangle {
        border: 1px solid #FF0000;
        position: relative;
    }
</style>
</body>
</html>