
<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title> Detech UI</title>
</head>
<body>

<div id="app">
    <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe" style="display: none"></iframe>
    <v-app>
        <v-toolbar dark class="primary">
            <v-toolbar-title class="white--text">DETECH ALGORITHM</v-toolbar-title>
        </v-toolbar>
        <v-progress-linear v-bind:indeterminate="true" v-bind:active="show" class="ma-0 pa-0"></v-progress-linear>

        <main>
            <v-container>
                <v-layout row wrap>
                    <v-flex xs5 text-xs-center>
                        <h4> Unregistered Images</h4>

                        <div id="img-container"></div>
                    </v-flex>

                    <v-flex xs2 text-xs-center>
                        <v-btn fab dark class="red darken-1" id="regBtn" @click="registerImages()">
                            <v-icon>keyboard_arrow_right</v-icon>
                        </v-btn>

                        <v-form method=post enctype=multipart/form-data action="/upload-folder" target="dummyframe">
                            <v-btn dark class="btn--dark-flat-focused jbtn-file">
                                Select files
                                <input type="file" name="file" size="40" webkitdirectory mozdirectory msdirectory odirectory directory multiple>
                            </v-btn>
                            <v-btn type=submit>Upload</v-btn>
                        </v-form>
                        <v-btn id="showBtn" @click="getUploadedImages()"> Show images</v-btn>
                        <v-btn @click="deleteImages()">Delete images</v-btn>
                        <v-dialog v-model="dialog" persistent>
                            <v-btn primary dark slot="activator">CROP REGISTERED IMAGE</v-btn>
                            <v-card>
                                <v-card-title class="headline">Select the crop rectangle</v-card-title>
                                <v-card-text>
                                    <v-btn @click="generateMeanImage()">Get mean registered image</v-btn>
                                    <img id="meanImg">
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn class="green--text darken-1" flat="flat" @click.native="dialog = false">Disagree</v-btn>
                                    <v-btn class="green--text darken-1" flat="flat" @click.native="dialog = false">Agree</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-flex>

                    <v-flex xs5 text-xs-center>
                        <h4> Registered Images</h4>
                        <div id="img-reg-container"></div>
                    </v-flex>
                </v-layout>
                <v-layout>

                </v-layout>


            </v-container>
        </main>
    </v-app>
</div>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            show: false,
            images_paths: [],
            dialog: false
        },
        methods: {
            getUploadedImages: function () {
                vm = this;
                $.ajax('api/i/names').done(function (data) {
                    vm.images_paths = data;
                    $("#img-container").empty();
                    for (var i=0;i<vm.images_paths.length;i++) {
                        var image = new Image();
                        image.src = 'api/i/'+vm.images_paths[i];
                        $("#img-container").append(image);

                    }
                });
                this.showRegisteredImages()
            },

            registerImages: function () {
                var vm = this;
                vm.show = true;
                $.ajax('api/i/registration').done(function (data) {
                    vm.show = false;
                })
            },

            showRegisteredImages: function () {
                $("#img-reg-container").empty();
                for (var i=0;i<vm.images_paths.length;i++) {
                    var image = new Image();
                    image.src = 'api/i/reg/'+vm.images_paths[i];
                    $("#img-reg-container").append(image);

                }
            },

            deleteImages : function () {

            },

            generateMeanImage : function () {
                var vm = this;
                vm.show = true;
                $.ajax('api/i/mean').done(function (data) {
                    vm.show = false;
                    var nameOfImage = data["image"];
                    $("#meanImg").src = "api/i/reg/" + nameOfImage;
                })
            }


        }
    })
</script>
<style>
    .jbtn-file {
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .jbtn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        cursor: inherit;
        display: block;
    }
</style>
</body>
</html>